[Desktop Entry]
Name=Yoga Spin GUI
Exec=yoga-spin-gui.py -f /etc/yoga-spin-gui.config
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
