#!/usr/bin/make -f

# Uncomment  this to turn on  verbose  mode.
#export  DH_VERBOSE =1

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:
	echo "Skipping build"

binary: install

install:
	dh_testdir
	dh_testroot
	dh_clean  -k
	dh_installdirs
	dh_installchangelogs
	dh_install
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: clean install configure
